/* Global styles */
* {
    margin: 0; /* Removes default margin from all elements */
    padding: 0; /* Removes default padding from all elements */
    box-sizing: border-box; /* Changes the default box model to border-box, including padding and border in the element's width and height */
}

/* Header styles */
header {
    font-family: 'Courier New', monospace; 
    display: flex; /* Uses Flexbox for layout */
    justify-content: space-between; /* Distributes items evenly with the first item at the start and the last item at the end */
    align-items: center; /* Centers items vertically */
    padding: 10px 50px; /* Adds padding  */
    background-color: rgba(0, 0, 0, 0); /* Sets a transparent background color for the header */
    position: fixed; /* Positions the header relative to the viewport */
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000; 
}

/* Logo container styles */
.logo-container {
    display: flex; /* Uses Flexbox for layout */
    align-items: center; /* Centers items vertically */
}

/* Logo image styles */
.logo {
    width: 50px; /* Sets a fixed width for the logo image to adjust logo position */
    height: auto; 
    margin-right: 10px; /* Adds spacing to the right of the logo to adjust position */
}

/* Header title styles */
.logo-container h1 {
    color: #ECF0F1; /* Sets the color of the header title */
}

/* Navigation menu styles */
nav ul {
    list-style-type: none; /* Removes bullet points from the list */
    display: flex; /* Uses Flexbox for layout */
}

nav ul li {
    margin-right: 25px; 
}

/* Navigation link styles */
nav a {
    text-decoration: none; /* Removes the underline from all links */
    color: #ECF0F1; /* Sets the text color for links */
    font-size: 16px; /* Sets the font size for links */
    font-weight: bold; /* Makes the link text bold */
}

/* Navigation link hover styles */
nav a:hover {
    color: rgb(154, 151, 151); /* Changes text color when hovering over a link */
}

/* Contact button styles */
.contact-button {
    background-color: rbg(0, 0, 0, 0); /*sets a transparent background color */
    color: aliceblue; /* Sets the text color for the contact button */
    border: 2px solid white; /* Adds a white border around the contact button */
    cursor: pointer; /* Changes the mouse cursor to indicate the button is clickable */
    padding: 10px 15px; /* Adds padding inside the button */
    border-radius: 5px; /* Rounds the corners of the button */
    transition: background-color 0.3s ease; /* Animates the background color change on hover */
}

/* Contact button hover styles */
.contact-button:hover {
    background-color: aliceblue; /* Changes the background color when hovering over the button */
    color: #000000; /* Changes the text color to black when hovering over the button */
}



/*================================================================*/



.hamburger-menu {
    display: none; /* By default, the hamburger menu is not displayed */
    flex-direction: column; /* When displayed, items in the container will be stacked vertically */
    align-items: flex-end; /* Aligns items to the end of the container (right side) */
}


.menu-icon {
    color: white; /* Sets the color of the menu icon to white */
    display: inline-block; /* The element generates a block element box, flowing with surrounding content */
    font-size: 28px; /* Sets the size of the icon, assuming it is a text character or uses a font-based icon */
    cursor: pointer; /* Changes the mouse cursor to indicate the icon is clickable */
    padding: 10px; /* Adds padding around the icon */
}


#menu-toggle {
    display: none; /* The checkbox is visually hidden since the menu icon is used for display purposes */
}


#menu-toggle:checked + .menu-icon + .nav {
    display: flex; /* When the checkbox is checked, the navigation menu is set to display using Flexbox */
}


#menu-toggle:checked + .menu-icon + .nav ul {
    flex-direction: column; /* Navigation items are displayed in a vertical list */
    width: 100%; /* The navigation list takes up the full width of its container */
    background-color: rgba(0, 0, 0, 0.9); /* The background of the navigation menu is set to a semi-transparent black */
}


#menu-toggle:checked + .menu-icon + .nav ul li {
    margin-top: 10px; /* Adds space above each list item */
    text-align: center; /* Centers the text of each list item */
}



@media only screen and (max-width: 1000px) {
    header {
        justify-content: space-between;
    }

    .hamburger-menu {
        display: flex;
    }

    nav {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
    }

    nav ul {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
    }

    nav ul li {
        width: 100%;
        text-align: center;
    }

    nav a {
        display: block;
        padding: 10px;
        width: 100%;
        text-align: center;
    }

    .logo {
        width: 40px;
    }

    .logo-container h1 {
        font-size: 20px;
    }

    #menu-toggle:checked~header {
        background-color: black;
    }

    #menu-toggle:checked+.menu-icon+.nav {
        display: flex;
        background-color: black;
    }



}

@media (hover: hover) {
    nav a:hover {
        color: #E0E0E0;
        background-color: #333;
    }
}


@media only screen and (max-width: 600px) {


    .logo-container {
        justify-content: center;
        flex-grow: 1;
    }

    .logo-container h1 {
        text-align: center;
    }


    nav ul {
        justify-content: center;
    }

    nav ul li {
        margin: 0;
        padding: 10px;
    }

    nav a {
        text-align: center;
    }


    .hamburger-menu {
        width: 100%;
        justify-content: center;
    }


    .container .content {
        left: 50%;
        transform: translate(-50%, 100%);
        bottom: 50%;
        text-align: center;
    }



    .container .content .header,
    .container .content .subheader {
        margin: 0.5rem 0;
    }


    .container .content .button {
        margin: 1rem auto;
        display: block;
    }

    .container .content .button .text {
        padding: 1rem 2rem;
    }


    .footer {
        padding: 1rem 0;
    }

    .list {
        justify-content: center;
    }

    .listSM {
        margin: 0.5rem;
    }
}


@media (hover: none) {

    nav a:hover,
    .contact-button:hover,
    .container .content .button:hover .text {
        background-color: transparent;
        color: inherit;
    }
}